
.wrap {
    background:url(https://i.pinimg.com/736x/53/ba/09/53ba09cc6264f1a496b1b3fddc772e34.jpg);
    min-width:320px; max-width:480px; height:100vh;
    text-align: center;
    padding:150px 0;
    
}
.wrap .contents {
    /* border:blue solid 2px; */

    width:300px;
    margin:0 auto;
    
}
.wrap .contents .date {
    display:flex;
    gap:10px;
}
.wrap .contents .date input {
    
    width:100%;
    max-width:300px;
    border:black solid 2px;
    margin-bottom:120px;
    
}  
.wrap .contents .date input:nth-child(1) {}
.wrap .contents .date input:nth-child(2) {}
.wrap .contents .date input:nth-child(3) {}
.wrap #btn {}
.wrap #btn button {
    font-size:1.15rem;
    font-weight:500;
    border-radius: 10px;
    border:1px solid #000;
    background-color:aliceblue;
    padding:10px 20px;;
}
.wrap #result {
    background-color:beige;
    
}