body, html {background-color: #95efbd; padding:0 10px;}
main {
    background-color:#fff;
    max-width:420px;
    min-width:320px;
    margin: 50px auto 0;
}
main .top {
    display:flex; justify-content: space-between; padding:10px;
}
main .top .profile {
    display:flex; /* 자식이 인라인일때 크기인식, 옆으로 나열 */
    align-items:center;
}
main .top .profile .photo {
    width:25px; height:25px;
    border-radius:50px; /* 원으로 만들기 */
    background:url(https://images.unsplash.com/photo-1500835556837-99ac94a94552?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8dHJhdmVsfGVufDB8fDB8fHww)center / cover; 
}
main .top .profile em {margin: 0 4px;font-weight:600; font-size:0.875rem;}
main .top .profile .cerified {color:#14ce66; font-size:0.75rem;}
main .top #top_menu{
    font-size:0.75rem;
    
}
main .photo {}
main .photo img {width:100%;}
main .menu {display:flex; justify-content: space-between; padding:10px;}
main .menu .left {display:flex; } /* 옆으로 나열, a태그들이 모두 인라인테그들이기 때문에 크기적용되라는 이유도 잇음 */
main .menu .left > * {width:24px;} /* 형제에게 주려고. 형제의 크기를 일정하게 만들고 너비를 100퍼센트 줘서 */
main .menu .left img {width:100%;} /* 공통 */
main .menu .left .like {}
main .menu .left .like img {}
main .menu .left .comment {margin:0 12px;}
main .menu .left .comment img {}
main .menu .left .share {}
main .menu .left .share img {}
main .menu .right_save {}
main .menu .right_save img {}
main .contents {padding:10px;}
main .contents .story {}
main .contents .tag {margin:14px 0;}
main .contents .tag span {
    background:#f5f5f5; color:#146ece; font-size:0.75rem;
}
main .contents .date {font-size:0.75rem; color:#aaa;}